# Ignorar el ejecutable de Terraform (Windows, Linux, Mac)
terraform
terraform.exe

# Ignorar archivos temporales y estados locales de Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl